<!-- produit : instance de Fiche_Produit -->

{% extends 'inventaire/base.html' %}

{% block title %}Fiche produit : {{ produit.nom }}{% endblock %}

{% block content %}
<div class="container mt-4">
  <h1 class="mb-4">Fiche produit : <strong>{{ produit.nom }}</strong></h1>

  <h3>Informations générales</h3>
  <ul class="list-group mb-4">
    <li class="list-group-item"><strong>Référence :</strong> {{ produit.ref }}</li>
    <li class="list-group-item"><strong>Numéro de Fiche De Sécurité (FDS):</strong> {{ produit.numero_fds }}</li>
    <li class="list-group-item">
        {% if produit.fichier_FDS %}
        <a href="{{ produit.fichier_FDS.url }}" target="_blank" title="Voir la fiche de sécurité">
          Voir la fiche de sécurité
        <i class="bi bi-eye" style="font-size: 1.2rem;"></i>
        </a>
        {% else %}
        <a href="{% url 'upload_fds' produit.pk %}" class="btn btn-outline-primary btn-sm">
          <i class="bi bi-upload"></i> Ajouter FDS
        </a>
        {% endif %}
    </li>
    <li class="list-group-item"><strong>Fournisseur :</strong> {{ produit.fournisseur }}</li>
    <li class="list-group-item"><strong>Date réception :</strong> {{ produit.date_reception|date:"d/m/Y" }}</li>
  </ul>

  <h3>Lots associés</h3>
  <div class="mb-3">
  <a href="{% url 'ajouter_lot' produit.pk %}" class="btn btn-success me-2">
    + Ajouter un lot
  </a>
  <a href="{% url 'gerer_mouvement_stock' produit.pk %}" class="btn btn-warning">
    Enregistrer un retrait
  </a>
</div>
  {% if produit.lots.all %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date de réception</th>
          <th>Fournisseur</th>
          <th>Réference</th>
          <th>N° lot</th>
          <th>Quantité</th>
          <th>Fichier CA</th>
        </tr>
      </thead>
      <tbody>
        {% for lot in produit.lots.all %}
        <tr>
          <td>{{ lot.date_reception|date:"d/m/Y" }}</td>
          <td>{{ lot.fournisseur}}</td>
          <td>{{ lot.ref }}</td>
          <td>{{ lot.nb_lot }}</td>
          <td>{{ lot.stock_initial }}</td>
          <td>
              {% if lot.fichier_CA %}
                <a href="{{ lot.fichier_CA.url }}" target="_blank" title="Voir certificat d’analyse">
                  <i class="bi bi-eye" style="font-size: 1.2rem;"></i>
                </a>
              {% else %}
                 <a href="{% url 'upload_ca' lot.pk %}" class="btn btn-outline-primary btn-sm">
                  <i class="bi bi-upload"></i> Ajouter CA
                </a>
              {% endif %}
          </td>
          
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="alert alert-info">Aucun lot enregistré pour ce produit.</div>
  {% endif %}
</div>
{% endblock %}
