{% extends 'inventaire/base.html' %}

{% block title %}Liste des Fiches Produit{% endblock %}

{% block content %}
<div class="container mt-4">
  <h1 class="mb-4">Liste des Fiches Produit</h1>

  <div class="mb-3">
  <a href="{% url 'ajouter_fiche_produit' %}" class="btn btn-success">
    <i class="bi bi-plus-circle"></i> Ajouter une fiche produit
  </a>
</div>

  {% if fiches_produit %}
    <table class="table table-bordered table-hover">
      <thead class="thead-light">
        <tr>
          <th>Nom</th>
          <th>Numéro FDS</th>
          <th>Stock</th>
          <th>Date de mise à jour</th>
          <th>Voir fiche</th>
        </tr>
      </thead>
      <tbody>
        {% for fiche in fiches_produit %}
        <tr>
          <td>{{ fiche.nom }}</td>
          <td>{{ fiche.numero_fds }}</td>
          <td>{{ fiche.stock }}</td>
          <td>{{ fiche.created_at|date:"d/m/Y" }}</td>
          <td>
            <a href="{% url 'fiche_produit' fiche.pk %}">
            <img src="/media/img/pencil-square.svg" alt="Modifier" width="20" height="20">
            </a>
            </td>
            <td>
            <a href="{% url 'supprimer_fiche_produit' fiche.pk %}">
              <i class="bi bi-trash"></i> 
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="alert alert-info">Aucune fiche produit enregistrée.</div>
  {% endif %}
</div>
{% endblock %}

