{% extends 'inventaire/base.html' %}

{% block title %}Uploader PDF - {{ produit.nom }}{% endblock %}

{% block content %}
  <h1>Uploader / Modifier la fiche PDF pour : {{ produit.nom }}</h1>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Envoyer</button>
    <a href="{% url 'fiche_produit' produit.pk %}" class="btn btn-secondary">Annuler</a>
  </form>

  {% if produit.fichier_FDS %}
    <p>Fichier FDS actuel : <a href="{{ produit.fichier_FDS.url }}" target="_blank">{{ produit.fichier_FDS.name }}</a></p>
  {% endif %}
    {% if produit.fichier_CA %}
    <p>Fichier CA actuel : <a href="{{ produit.fichier_CA.url }}" target="_blank">{{ produit.fichier_CA.name }}</a></p>
  {% endif %}
{% endblock %}
